# große Rohdaten und Datenbanken ignorieren
# Can you see this
raw/
config/
data/*.jsonl
data/*.db
*.db
.venv311/
.venv/
__pycache__/
data/*.tar.gz
data/*.db-wal
data/*.db-shm


# local envs
venv/
.venv/
__pycache__/
.ipynb_checkpoints/

# Streamlit secrets
.streamlit/secrets.toml
dashboard/.streamlit/secrets.toml

# Streamlit secrets
.streamlit/secrets.toml
dashboard/.streamlit/secrets.toml
