abgeordnetenwatch_python==0.1.0
altair==5.5.0
attrs==25.4.0
greenlet==3.2.4
Jinja2==3.1.6
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
MarkupSafe==3.0.3
narwhals==2.10.2
numpy==2.3.5
pandas==2.3.3
plotly==6.5.0
python-dateutil==2.9.0.post0
pytz==2025.2
referencing==0.37.0
rpds-py==0.28.0
setuptools==80.9.0
simhash==2.1.2
six==1.17.0
SQLAlchemy==2.0.44
typing_extensions==4.15.0
tzdata==2025.2
wheel==0.45.1
zstandard==0.23.0
